@layer base {
    :root {
        --navbar-height: calc(var(--spacing) * 15);
        --footer-height: calc(var(--spacing) * 12);
    }

    @screen md {
        :root {
            --navbar-height: calc(var(--spacing) * 20);
        }
    }

    html {
        /* Make scroll-to-element animation smooth */
        scroll-behavior: smooth;
    }

    /* Overwrite default scrollbar style on webkit */
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        border-radius: 5px;
    }
    ::-webkit-scrollbar-track:hover {
        background: #2c2c2c;
    }
    ::-webkit-scrollbar-thumb {
        background: #afafaf;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #8d8d8d;
    }
}