---
import BaseLayout from '@/layouts/Base.astro';
import Footer from '@/components/Footer.vue';

const title = 'Alan Kuan | 官澔恩';
const desc = 'The page is not found';
---

<BaseLayout {title} {desc}>
  <main>
    <h1 class="mt-10 text-8xl text-center">404</h1>
    <h2 class="mb-10 text-4xl text-center">Not Found</h2>
  </main>
  <Footer />
</BaseLayout>