---
import BaseLayout from '@/layouts/Base.astro';
import Footer from '@/components/Footer.vue';

const title = 'Alan Kuan | 官澔恩';
const desc = 'The page is not found';
---

<BaseLayout {title} {desc}>
  <main>
    <h1 mt-10 text="8xl center">404</h1>
    <h2 mb-10 text="4xl center">Not Found</h2>
    <Footer />
  </main>
</BaseLayout>