---
import BaseLayout from '@/layouts/Base.astro';
import Footer from '@/components/Footer.vue';

const title = 'Alan Kuan | 官澔恩';
const desc = 'A place telling things about Alan Kuan';
---

<BaseLayout {title} {desc}>
  <main>
    Wait for content
    <Footer />
  </main>
</BaseLayout>