---
import WithProfileLayout from '@/layouts/WithProfile.astro';
import PubList from '@/components/publication/PubList.vue';
import Footer from '@/components/Footer.vue';

const title = 'Publications - Alan Kuan | 官澔恩';
const desc = 'Publications Alan Kuan have gotten involved with';

const pubs = {
  Conference: [
    {
      title: 'Towards Low-Latency GPU-Aware Pub/Sub Communication for Real-Time Edge Computing',
      authors: ['Hao-En Kuan', 'Yung-Hsiang Yang', 'Zen-Mou Jiang', 'Chi-Sheng Shih', 'Shih-Hao Hung'],
      conference: 'IEEE 31st International Conference on Embedded and Real-Time Computing Systems and Applications (RTCSA)',
      location: 'Singapore',
      time: 'August 20-22, 2025',
    },
    {
      title: 'Entropy-Based Two-Phase Optimization Algorithm for Solving Wordle-like Games',
      authors: [ 'Yen-Chi Chen', 'Hao-En Kuan', 'Yen-Shun Lu', 'Tzu-Chun Chen', 'I-Chen Wu' ],
      conference: 'International Conference on Technologies and Applications of Artificial Intelligence (TAAI)',
      location: 'Tainan, Taiwan',
      time: 'December 1-3, 2022',
    },
    {
      title: 'Being Greedy to Solve Nerdle: with Approaches Utilizing Entropy',
      authors: [ 'Hao-En Kuan', 'Tzu-Chun Chen', 'Yen-Shun Lu', 'Yen-Chi Chen', 'I-Chen Wu' ],
      conference: 'Taiwan Computer Game Association (TCGA)',
      location: 'Nantou, Taiwan',
      time: 'May 13-14, 2022',
    },
  ],
};
const me = 'Hao-En Kuan';
---

<WithProfileLayout {title} {desc}>
  <main>
    <PubList {pubs} {me} />
    <Footer />
  </main>
</WithProfileLayout>