---
interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={desc} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
	}
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family: monospace;
	}
</style>
