---
import NavBar from '@/components/nav/NavBar.astro';
import { ClientRouter } from 'astro:transitions'

interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={desc} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

    {/* Mastodon */}
    <link rel="me" href="https://mastodon.social/@alankuan" />
    <meta name="fediverse:creator" content="@alankuan@mastodon.social">

		<title>{title}</title>
    <script is:inline>
      const light_mode = localStorage.getItem('light_mode');

      if (light_mode === 'false') {
        document.documentElement.classList.add('dark');
      }
    </script>
    <ClientRouter />
	</head>
	<body
    bg="body-light dark:body-dark"
    text="text-dark dark:text-light"
  >
    <NavBar />
    <slot />
	</body>
</html>

<style is:global>
	html {
    font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
	}
	code {
		font-family: 'Source Code Pro', monospace;
	}

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #2c2c2c;
  }
  ::-webkit-scrollbar-thumb {
    background: #afafaf;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #8d8d8d;
  }
</style>