---
import { ClientRouter } from 'astro:transitions';

import NavBar from '@/components/nav/NavBar.astro';
import '@/styles/base.css';

interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
		<meta name="description" content={desc} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

    {/* Mastodon */}
    <link rel="me" href="https://mastodon.social/@alankuan" />
    <meta name="fediverse:creator" content="@alankuan@mastodon.social">

    <script is:inline>
      const media_query = window.matchMedia('(prefers-color-scheme: dark)');

      function applyTheme() {
        document.documentElement.classList.toggle(
          'dark',
          (!('theme' in localStorage) && media_query.matches) ||
            localStorage.getItem('theme') === 'dark',
        );
      }

      media_query.addEventListener('change', (e) => applyTheme(e.matches));
      document.addEventListener('astro:after-swap', applyTheme);
      applyTheme();
    </script>
    <ClientRouter />
	</head>
  <body
    class={`
      bg-light-bg-body text-light-text-normal
      dark:bg-dark-bg-body dark:text-dark-text-normal
    `}
  >
    <NavBar />
    <slot />
	</body>
</html>