---
import { ClientRouter } from 'astro:transitions';

import NavBar from '@/components/nav/NavBar.vue';

import '@/styles/base.css';
import '@/styles/theme.css';

interface Props {
  title: string;
  desc: string;
  post_title?: string;
}

const { title, desc, post_title } = Astro.props;
const route_prefix = Astro.url.pathname.split('/').splice(0, 2).join('/');
---

<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
		<meta name="description" content={desc} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.svg" />

    {/* Mastodon */}
    <link rel="me" href="https://mastodon.social/@alankuan" />
    <meta name="fediverse:creator" content="@alankuan@mastodon.social">

    <ClientRouter />
	</head>

  <body class="bg-bg-body text-text-normal">
    <NavBar {route_prefix} {post_title} client:idle />
    {/* Content */}
    <div
      id="base-content"
      class="h-[calc(100vh-var(--navbar-height))] overflow-y-scroll scroll-smooth"
    >
      <slot />
    </div>
	</body>
</html>

<script>
const media_query = window.matchMedia('(prefers-color-scheme: dark)');

function applyTheme() {
  document.documentElement.classList.toggle(
    'dark',
    (!('theme' in localStorage) && media_query.matches) ||
      localStorage.getItem('theme') === 'dark',
  );
}

media_query.addEventListener('change', applyTheme);
document.addEventListener('astro:after-swap', applyTheme);
applyTheme();
</script>