---
import BaseLayout from '@/layouts/Base.astro';
import Image from '@/components/Image.astro';
import ProfileCard from '@/components/ProfileCard.vue';

import { avatar_urls, profile, intro } from '@/content/profile.ts';

interface Props {
  title: string;
  desc: string;
  hide_pc_on_sm: bool;  // hide profile card on small screen
}

const {
  title,
  desc,
  hide_pc_on_sm = false,
} = Astro.props;
---

<BaseLayout>
  <div flex="~ col md:row">
    {/* Left Column */}
    <div
      class:list={[
        { 'hidden': hide_pc_on_sm },
        { 'md:block': hide_pc_on_sm },
        'w-full', 'md:w-30%', 'lg:w-25%',
      ]}
    >
      {/* add `top-20` and `bottom-0` to make `overflow-y-scroll` effective */}
      <ProfileCard
        class="md:fixed md:top-20 md:bottom-0 md:w-30% lg:w-25%"
        {...profile}
      >
        <div slot="avatar">
          {
            Object.entries(avatar_urls).map(([mode, url]) =>
              <Image
                class:list={[
                  { 'dark:hidden': mode === 'light' },
                  { 'hidden! dark:flex!': mode === 'dark' },
                  'w-50', 'h-50',
                  'rounded-xl',
                ]}
                src={url}
                alt={`My avatar in ${mode} mode`}
              />
            )
          }
        </div>
        <div slot="intro" set:html={intro} />
      </ProfileCard>
    </div>
    {/* Right Column */}
    <div w="full md:70% lg:75%" class="md:h-[calc(100vh-5rem)]" overflow-y-auto>
      <slot />
    </div>
  </div>
</BaseLayout>