---
import { Image } from 'astro:assets';

import BaseLayout from '@/layouts/Base.astro';
import ProfileCard from '@/components/ProfileCard.vue';
import ImageSkeleton from '@/components/skeleton/Image.vue';

import { profile, intro } from '@/content/profile.ts';

interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<BaseLayout>
  <div flex>
    {/* Left Column */}
    <div w-25%>
      {/* add `top-20` and `bottom-0` to make `overflow-y-scroll` effective */}
      <ProfileCard
        class="fixed top-20 bottom-0 w-25%"
        {...profile}
      >
        <div slot="intro" set:html={intro} />
      </ProfileCard>
    </div>
    {/* Right Column */}
    <div w-75% class="h-[calc(100vh-5rem)]" overflow-y-auto>
      <slot />
    </div>
  </div>
</BaseLayout>