---
import { Image } from 'astro:assets';
import logo_img from '@/assets/logo.png';
import NavList from '@/components/nav/NavList.vue';
import DarkLightToggle from '@/components/nav/DarkLightToggle.vue';
import { links } from '@/content/nav_links';
---

<nav
  sticky top-0 z-1
  grid="~ cols-3"
  w-full h-20
  px-5 py-2.5
  bg="nav-bar-light dark:nav-bar-dark"
  text="text-light"
>
  <div>
    <a href="/" inline-block>
      <div dark:saturate-50>
        <Image
          src={logo_img}
          alt="logo"
          class="logo w-15"
        />
      </div>
    </a>
  </div>
  <div flex justify-center items-center>
    <NavList links={links} client:load />
  </div>
  <div flex justify-end items-center pr-15>
    <DarkLightToggle client:load />
  </div>
</nav>

<style>
.logo {
  filter:
    drop-shadow(0 1px rgba(255, 255, 255, 0.5))
    drop-shadow(0 -1px rgba(255, 255, 255, 0.5))
    drop-shadow(1px 0 rgba(255, 255, 255, 0.5))
    drop-shadow(-1px 0 rgba(255, 255, 255, 0.5));
}
.logo:hover {
  filter:
    drop-shadow(2px 0 2px rgba(255, 255, 255, 0.5))
    drop-shadow(-2px 0 2px rgba(255, 255, 255, 0.5))
    drop-shadow(0 2px 2px rgba(255, 255, 255, 0.5))
    drop-shadow(0 -2px 2px rgba(255, 255, 255, 0.5));
}
</style>